{
  "env": {
    "app": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        ["babel-plugin-styled-components", {
          "ssr": true,
          "displayName": true
        }],
        "loadable-components/babel"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react"
        ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        ["babel-plugin-styled-components", {
          "ssr": true
        }],
        "loadable-components/babel",
        "dynamic-import-node"
      ]
    }
  }
}
